.player {
    display: flex;
    align-items: center;
    
    p {
        font-size: 32px;
        margin-left: 16px;
        font-family: 'MedievalSharp', sans-serif;
        color: white;
        width: 150px;
    }
    img {
        height: 50px;
        object-fit: cover;
        
    }
}

.player-active {
    background-color: #ffb172;
}