.game-field {
    background-image: url(/assets/img/gameField.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
    }
}
