.game-field {
    background-image: url(../../assets/img/gameField.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    img {
        position: absolute;
        width: 120px;
        height: 190px;
        @media (max-width: 540px) {
            width: 100px;
            height: 170px;
        }
    }
   
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-10px);
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.pick-card {
    animation: pick-card-annimation 1s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.player-position {
    position: absolute;
    right: 20px;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
    background-color: #FFB172;
    @media (max-width: 960px) {
        bottom: 80px;
    }
    @media (max-width: 890px) {
        top: 100px;
        left: 20px;
    }
    
}

.scroll-container-mobile {
    position: absolute;
    left: 8px;
    right: 0;
    top: 0;
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.scroll-container {
    position: absolute;
    right: 20px;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: calc(100vh - 100px - 150px);
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.d-none {
    display: none !important;
}

.overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: white;
        font-family: 'MedievalSharp', sans-serif;
        font-size: 150px;
        font-weight: 700;
    }
}

@media (max-width: 840px) {
    .overlay {
        p {
            font-size: 100px;
        }
    }
}


@media (max-width: 540px) {
    @keyframes pick-card-annimation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.7);
        }
        60% {
            transform: scale(1.7);
        }
        100% {
            transform: scale(1.3) translateX(90px) translateY(-180px) rotate(-10deg);
        }
    }
    .pick-card, .played-card {
        transform: scale(1.3) translateX(90px) translateY(-180px) rotate(-10deg);
    }
    .overlay {
        p {
            font-size: 56px;
        }
    }
}

@media (min-width: 540px) {
    @keyframes pick-card-annimation {
        0% {
            transform: scale(1);
        }
        40% {
            transform: scale(1.7);
        }
        60% {
            transform: scale(1.7);
        }
        100% {
            transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
        }
    }
}